.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0 auto;
  margin-top: 92px;
  padding: 0 48px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
    max-width: 928px;
  }
}

@media screen and (max-width: 900px) {
  .photo-grid {
    gap: 15px;
    max-width: 828px;
    padding: 0 36px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    gap: 16px;
    max-width: 720px;
    margin-top: 88px;
    padding: 0 24px;
  }
}
@media screen and (max-width: 480px) {
  .photo-grid {
    gap: 12px;
    max-width: 448px;
    margin-top: 64px;
    padding: 0 16px;
  }
}
@media screen and (max-width: 400px) {
  .photo-grid {
    gap: 12px;
    max-width: 288px;
    margin-top: 64px;
    padding: 0 16px;
  }
}
