.place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px 1fr));
  margin-bottom: 80px;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(440px 1fr));
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(340px 1fr));
    gap: 48px 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    gap: 0;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
  }
}
